/* Cambiar el color de fondo del NavBar */
.container-fluid {
    background-color: seagreen;
  }

  .ActiveOption {
    color: black; /* Change this to the desired color */
    margin: 8px;
    text-decoration: none;
  }
  
  .Option {
    color: black; /* Change this to the desired color */
    margin: 8px;
    text-decoration: none;
  }