/* Cambiar el color de fondo del NavBar */
.container-fluid {
    background-color: seagreen;
  }

  .ActiveOption {
    color: black; /* Change this to the desired color */
  }
  
  .Option {
    color: white; /* Change this to the desired color */
  }